<!DOCTYPE html>

<html>
   <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>About page</title></head>
    <body>
         <div class="main-content">
        {{>header}}
        <p>This website is maintained and served by Saajid pasha.</p>
        <img src = "/img/mark.jpg">
        </div>
        {{>footer}}
    </body>
</html>